
<h1> Comparison Between <%=@ship1.ship_label %> and <%=@ship1.ship_label %> </h1>

<p>
  <b>Class:</b>
  <%= @ship1.ship_class %>
</p>

</p>
  <b>Manufacturer:</b>
  <%= @ship1.manufacturer %>
 </p>

 </p>
  <b>Hitpoints:</b>
  <%= @ship1.hitpoints %>
 </p>

 </p>
  <b>Shields:</b>
  <%= @ship1.shields %>
 </p>

 </p>
  <b>Description:</b>
 <%= @ship1.description %>
 </p>

 </p>
  <b>Image:</b>
 <%= image_tag(@ship1.image) %>
 </p>

<p>
  <b>Class:</b>
  <%= @ship1.ship_class %>
</p>

</p>
  <b>Manufacturer:</b>
  <%= @ship1.manufacturer %>
 </p>

 </p>
  <b>Hitpoints:</b>
  <%= @ship1.hitpoints %>
 </p>

 </p>
  <b>Shields:</b>
  <%= @ship1.shields %>
 </p>

 </p>
  <b>Description:</b>
 <%= @ship1.description %>
 </p>

 </p>
  <b>Image:</b>
 <%= image_tag(@ship1.image) %>
 </p>


<%= link_to 'Back to Showroom Database', showroom_path %>
